.user-container {
  padding: 30px 45px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
}
.user-info {
  margin-left: 30px;
  &__name {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__mobile {
    font-size: 28px;
    margin-bottom: 10px;
  }
  &__balance {
    font-size: 28px;
  }
}
.nav {
  // margin: 20px;
  padding: 30px;
  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
    padding: 10px 0;
    margin-bottom: 30px;
    &__more {
      color: #909090;
      font-size: 24px;
      font-weight: 400;
    }
  }
  &-container {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
  }
  &-item {
    flex-basis: 20%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  &-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}
.menu {
  &-container {
    padding: 30px;
  }
  &-item {
    display: flex;
    height: 80px;
    justify-content: space-between;
    font-size: 28px;
  }
}
