page {
  padding-bottom: 166px;
  // min-height: calc(100vh - 166px);
}
.center {
  background: #000;
  &-bg {
    opacity: 0;
    transition: 0.4s ease-in;
    position: absolute;
    width: 340px;
    height: 340px;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .effect-bg {
    opacity: 1;
  }
  .scroll-container {
    height: calc(100vh - 166px);
    transition: 0.25s;
  }
  .user {
    // margin-top: -126px;
    position: relative;
    z-index: 1;
    padding-top: 20px;
    // overflow: hidden;
    &-avatar {
      width: 126px;
      height: 126px;
      border-radius: 50%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      position: absolute;
      top: -126px;
      left: 50%;
      transform: translate(-50%);
      background: #fff;
      z-index: 1;
    }
    &-name {
      font-size: 24px;
      text-align: center;
    }
    &-bg {
      width: 101%;
      position: absolute;
      top: -126px;
      left: 50%;
      transform: translate(-50%);
      z-index: -1;
    }
  }
  .content {
    padding: 48px 50px 0;
    position: relative;
    z-index: 1;
    background: #fff;
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 45px;
      font-size: 24px;
      margin-bottom: 36px;
      &__more {
        color: $global-text-gray-c;
      }
    }
  }
  .card {
    background: url('http://121.5.150.116/dist/douchy-imgs/center/vip4-card.png') no-repeat top /
      100% 100%;
    width: 650px;
    height: 320px;
    position: relative;
    margin-bottom: 24px;
    opacity: 0;
    transform: translateY(700px);
    transition: transform 0.5s ease-in 0.25s, opacity 0.25s ease-in 0.5s;
    &-num {
      position: absolute;
      right: 80px;
      bottom: 45px;
      font-size: 22px;
      color: #9b9b9b;
    }
    &-qrcode {
      position: absolute;
      width: 40px;
      height: 40px;
      top: 60px;
      right: 80px;
    }
  }
  .nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // padding: 0 50px;
    font-size: 24px;
    position: relative;
    // background: #fff;
    z-index: 1;
    &-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      text-align: center;
      &__icon {
        width: 112px;
        height: 112px;
        margin-bottom: 12px;
      }
      &__cover {
        width: 112px;
        height: 112px;
        position: relative;
      }
    }
  }
  .second-nav {
    .nav-item__icon {
      width: 54px;
      height: 54px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .menu {
    // padding: 0 50px;
    font-size: 24px;
    // border-top: 2px solid #c1a46f;
    background: #fff;
    &-item {
      display: flex;
      align-items: center;
      height: 90px;
      justify-content: space-between;
      // &:not(:last-child) {
      border-top: 2px solid #c1a46f;
      // }
    }
    .at-con {
      color: #c1a46f;
    }
  }
  .effect-up {
    transform: translateY(100vh);
    transition: 0.25s ease-in;
  }
  .effect-down {
    opacity: 0;
    transition: 0.5s ease-in;
  }
  .effect-header {
    &-enter {
      &,
      &-done {
        transform: translateY(716px);
      }
      &-active {
        transition: 0.4s ease-in 0.25s;
      }
    }
    &-exit {
      &,
      &-donw {
        transform: translateY(100vh);
      }
      &-active {
        transition: 0.4s ease-in 0.25s;
      }
    }
  }
  .effect-card {
    &-enter {
      opacity: 0;
      transform: translateY(700px);
      &-done {
        opacity: 1;
        transform: translateY(0);
      }
      &-active {
        opacity: 1;
        transform: translateY(0);
        transition: transform 0.8s ease-in 0.2s, opacity 0.25s ease-in 0.25s;
      }
    }
    &-exit {
      &,
      &-donw {
        transform: translateY(700px);
      }
      &-active {
        transition: transform 0.8s ease-in 0.2s, opacity 0.25s ease-in 0.25s;
      }
    }
  }
  .effect-menu {
    &-enter {
      &,
      &-done {
        opacity: 1;
      }
      &-active {
        transition: 0.2s ease-in;
      }
    }
    &-exit {
      &,
      &-done {
        opacity: 0;
      }
      &-active {
        transition: 0.2s ease-in;
      }
    }
  }
  .bottom-cover {
    background: #fff;
    position: fixed;
    height: 600px;
    left: 0;
    bottom: 0;
    width: 100vw;
  }
}
