page {
  background: #fff;
  padding-bottom: 166px;
}
.cart {
  .nav {
    display: flex;
    align-items: stretch;
    height: 75px;
    font-size: 24px;
    padding-top: 16px;
    &-item {
      color: $global-text-gray;
      flex: 1;
      text-align: center;
      border-bottom: 2px solid $global-line-gray;
    }
    .active-item {
      color: $global-black;
      border-bottom: 4px solid $global-golden-b;
    }
  }
  .content {
    .goods {
      &-item {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        position: relative;
        padding: 24px 36px;
        .circle {
          // background: $global-golden-b;
          border-radius: 50%;
          color: #fff;
          width: 36px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 36px;
          border: 2px solid $global-golden-b;
          background: #fff;
        }
        .active {
          background: $global-golden-b;
        }
        &__img {
          width: 140px;
          height: 180px;
          flex-shrink: 0;
        }
        &__info {
          padding: 0 55px;
          width: 420px;
          &-name {
            font-size: 24px;
            width: 220px;
            margin-bottom: 24px;
          }
          &-size {
            font-size: 24px;
            color: $global-text-gray;
            margin-bottom: 24px;
          }
          &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__price {
              font-size: 24px;
              color: $global-golden-b;
              font-weight: 500;
            }
            &__num {
              font-size: 22px;
              color: $global-text-gray;
            }
          }
        }
        .at-icon-close {
          position: absolute;
          right: 32px;
          top: 24px;
          font-size: 24px;
          color: $global-text-gray;
        }
      }
    }
  }
  .default {
    margin-top: 280px;
  }
}
