.interests {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-bottom: 8px;
    height: 130px;
    &-circle {
      height: 50px;
      width: 50px;
      margin-bottom: 10px;
    }
    &-logo {
      width: 240px;
    }
  }
  .content {
    margin-left: 50px;
    height: calc(100vh - 130px);
    &-item {
      &__scroll {
        height: calc(100vh - 130px);
      }
    }
  }
  .card {
    background: url('http://121.5.150.116/dist/douchy-imgs/center/vip4-card.png') no-repeat top /
      100% 100%;
    width: 650px;
    height: 320px;
    position: relative;
    margin-bottom: 16px;
    &-num {
      position: absolute;
      right: 80px;
      bottom: 45px;
      font-size: 22px;
      color: #9b9b9b;
    }
    &-qrcode {
      position: absolute;
      width: 40px;
      height: 40px;
      top: 60px;
      right: 80px;
    }
  }
  .title {
    margin-bottom: 28px;
    &-name {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 12px;
      &__level {
        color: #c1a46f;
        margin-left: 12px;
      }
    }
    &-desc {
      font-size: 24px;
    }
  }
  .role {
    padding-bottom: 32px;
    &-title {
      margin-bottom: 30px;
      font-weight: 600;
    }
    &-item {
      display: flex;
      align-items: center;
      // height: 70px;
      &:not(:last-child) {
        margin-bottom: 32px;
      }
      &__icon {
        height: 70px;
        width: 70px;
        flex-shrink: 0;
        margin-right: 24px;
      }
      &__info {
        flex: 1;
        &-title {
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 12px;
        }
        &-desc {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
  .gloden {
    color: #c1a46f;
  }
}
