page {
  background: #fff;
  padding-bottom: 180px;
}
.swiper {
  height: 1072px;
  &-contianer {
    height: 1072px;
    position: relative;
    color: #fff;
    margin-bottom: 112px;
  }
  &-img {
    width: 100%;
    height: 1072px;
    background: #e7d4ae;
  }
  &-content {
    position: absolute;
    bottom: 28px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    &__title {
      font-size: 30px;
      font-weight: 500;
    }
    &__explain {
      font-size: 32px;
      font-weight: 500;
      margin-top: 20px;
    }
    &__more {
      border-radius: 4px;
      border: 2px solid #fff;
      line-height: 80px;
      width: 590px;
      margin-top: 54px;
    }
  }
  &-indicator {
    position: absolute;
    top: calc(100% + 14px);
    left: 50%;
    transform: translateX(-50%);
    height: 28px;
    display: flex;
    align-items: center;
    &__con {
      margin: 0 6px;
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__item {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 2px solid #bb8100;
    }
    &__icon {
      width: 28px;
      height: 28px;
    }
  }
}
.plate {
  &-container {
    margin-top: 40px;
    margin-bottom: 120px;
  }
  &-logo {
    width: 100%;
    height: 90px;
    margin-bottom: 80px;
  }
  &-swiper {
    height: 460px;
    &-img {
      width: 100%;
      height: 100%;
    }
  }
  &-content {
    padding: 0 32px;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 120px;
      font-size: 40px;
      font-weight: 500;
      &-icon {
        width: 100%;
        height: 120px;
      }
    }
    &__nav {
      display: flex;
      align-items: center;
      height: 48px;
      padding: 0 15px;
      margin-bottom: 24px;
      white-space: nowrap;
      &-item {
        font-size: 26px;
        line-height: 48px;
        &:not(:last-child) {
          margin-right: 60px;
        }
      }
      .active-item {
        font-weight: 600;
        position: relative;
        &::after {
          content: '';
          width: 100%;
          height: 3px;
          background: #bb8100;
          position: absolute;
          top: 100%;
          left: 0;
        }
      }
    }
    &__counter {
      display: flex;
      // margin-bottom: 30px;
      height: 424px;
      align-items: center;
      &-item {
        text-align: center;
        // display: inline-block;
        &:not(:last-child) {
          margin-right: 6px;
        }
        &__img {
          width: 276px;
          height: 356px;
          margin-bottom: 8px;
          // border: 6px solid #e7d4ae;
          // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
        }
        &__price {
          font-size: 24px;
        }
      }
      &-more {
        width: 44px;
        height: 84px;
        flex-shrink: 0;
        margin-left: 64px;
      }
    }
    &__indicator {
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      &__con {
        margin: 0 6px;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__item {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 2px solid #bb8100;
      }
      &__icon {
        width: 28px;
        height: 28px;
      }
    }
    &__shelves {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &-item {
        flex-basis: calc(100vw / 2 - 16px);
        padding: 6px 8px;
        height: 630px;
        box-shadow: 0 6px 4px rgba(0, 0, 0, 0.15);
        margin-bottom: 24px;
        &__img {
          width: 100%;
          height: 466px;
          margin-bottom: 18px;
          background: #e7d4ae;
        }
        &__name {
          padding: 0 20px;
          line-height: 30px;
          font-weight: 500;
          margin-bottom: 18px;
          font-weight: 24px;
        }
        &__info {
          padding: 0 20px;
          display: flex;
          justify-content: space-between;
          &-pirce {
            font-weight: 26px;
            // font-weight: 500;
            color: #c3a669;
          }
          &-icon {
            width: 44px;
            height: 44px;
          }
        }
      }
    }
  }
  &-more {
    border-radius: 4px;
    border: 2px solid #bb8100;
    height: 80px;
    width: 590px;
    margin: 40px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bb8100;
    &-icon {
      width: 20px;
      height: 30px;
      margin-left: 24px;
    }
  }
}
.second {
  padding: 0 16px;
  height: auto;
  .plate-content__header-icon {
    width: 236px;
    height: 32px;
    &__more {
      width: 220px;
      height: 54px;
    }
  }
}
.about-us {
  width: 100%;
}
.popup {
  position: fixed;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 490px;
  height: 690px;
  padding-top: 100px;
  background: url('http://121.5.150.116/dist/douchy-imgs/popup/popup-bg.png') no-repeat 0 / 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // &-logo {
  //   width: 320px;
  //   height: 100px;
  // }
  // &-explain {
  //   font-size: 28px;
  //   font-weight: 600;
  //   margin-top: 12px;
  // }
  &-btn {
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 176px;
    left: 50%;
    transform: translateX(calc(-50% - 6px));
  }
  // .second-explain {
  //   margin: 40px 0 60px;
  // }
  // .golden {
  //   color: #bb8100;
  // }
  &-close {
    position: absolute;
    top: 24px;
    right: 32px;
    width: 48px;
    height: 48px;
    // font-size: 50px;
    // color: #7f7f7f;
  }
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 101;
  animation: into .25s ease-in-out;
}
@keyframes into {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loading-container {
  margin: 80px auto;
}