page {
  // background: #fff;
  padding-bottom: 166px;
}
.cate {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // height: 120px;
    // margin-bottom: 20px;
    padding: 24px 40px 0 20px;
    &-logo {
      width: 300px;
      height: 90px;
    }
    &-right {
      display: flex;
      align-items: center;
      text-align: center;
      &__item {
        // font-size: 22px;
        // font-weight: 500;
        margin-left: 40px;
        &-icon {
          width: 50px;
          height: 58px;
        }
      }
      .search-icon {
        width: 56px;
        height: 60px;
      }
    }
  }
  .plate {
    padding: 12px 20px 0;
    position: relative;
    display: flex;
    &-nav {
      display: flex;
      align-items: flex-start;
      width: 592px;
      &__item {
        flex-shrink: 0;
        position: relative;
        width: 148px;
        height: 200px;
        &:not(:last-child) {
          // margin-right: 36px;
        }
        &-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          // bottom: 0;
          // right: 0;
        }
        &-info {
          color: #fff;
          font-size: 22px;
          font-weight: 500;
          position: absolute;
          bottom: 24px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &__more {
        // flex-shrink: 0;
        width: 28px;
        height: 48px;
        transform: translateY(60px);
        margin-left: 20px;
      }
    }
  }
  .nav-popup {
    flex-wrap: wrap;
    overflow: hidden;
    align-content: flex-start;
    width: 100%;
    .plate-nav__item {
      width: 172px;
      height: 220px;
      margin-bottom: 16px;
      display: block;
      &:not(:nth-of-type(4n)) {
        margin-right: calc((100% - 688px) / 3);
      }
    }
    .long-item {
      width: 340px;
      &:first-child {
        margin-right: calc((100% - 688px) / 3);
      }
      &:nth-of-type(2) {
        margin-right: 0;
      }
    }
    .up-icon {
      width: 80px;
      height: 80px;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .popup-container {
    height: 0;
    transition: 0.25s;
    position: absolute;
    left: 0;
    width: 100%;
    top: 6px;
    background: #fff;
    padding: 12px 24px;
    opacity: 0;
    box-sizing: border-box;
  }
  .show-popup {
    opacity: 1;
    height: calc(100vh - 118px - 166px);
  }
  .content {
    width: 100vw;
    box-sizing: border-box;
    height: calc(100vh - 320px - 166px);
    padding: 68px 20px 10px;
    background: url('http://121.5.150.116/dist/douchy-imgs/cate/scene.png') no-repeat top / 100%
      100%;
    display: flex;
    justify-content: space-between;
    margin-top: -4px;
    &-list {
      flex-basis: 344px;
      &__item {
        margin-bottom: 20px;
        &-icon {
          width: 100%;
        }
      }
    }
  }
}
.hidden-pate {
  height: calc(100vh - 166px);
  overflow: hidden;
}
.loading-content {
  padding: 450px 0;
  display: flex;
  justify-content: center;
  // align-items: center;
  height: 100vh;
  width: 100vw;
}
