page {
  // background: #eeeeee;
}
.order-detail {
  .order {
    &-title {
      color: #fff;
      line-height: 80px;
      padding: 0 40px;
      background: #bea368;
    }
    &-desc {
      padding: 0 40px;
      line-height: 80px;
    }
    &-item {
      background: #fff;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      // &__title {

      // }
      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        padding: 0 40px;
        border-bottom: 2px solid $global-line-gray;
        font-size: 24px;
        &-name {
          // flex: 0 0 120px;
        }
        &-status {
          text-align: right;
          // text-overflow: ellipsis;
          // overflow: hidden;
          // white-space: nowrap;
        }
      }
      &__content {
        flex: 1;
      }
      &__total {
        border-top: 2px solid $global-line-gray;
        display: flex;
        padding: 0 40px;
        height: 75px;
        align-items: center;
        justify-content: flex-end;
        font-size: 24px;
        &-item {
          margin-left: 20px;
        }
      }
      &__footer {
        color: #c7b07c;
        text-align: right;
        padding: 0 40px;
        font-size: 24px;
      }
    }
  }
  .plate {
    padding: 24px 40px;
    border-bottom: 2px solid $global-line-gray;
    // line-height: 80px;
    &-title {
      font-weight: 600;
      margin-bottom: 24px;
      line-height: 40px;
    }
    &-opt {
      display: flex;
      align-items: center;
      height: 50px;
      font-size: 24px;
      &__title {
        margin-right: 12px;
      }
    }
    &-item {
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: space-between;
      font-size: 24px;
      &__info {
        font-weight: 600;
        color: #bea468;
      }
    }
  }
  .total {
    display: flex;
    align-items: center;
    // height: 50px;
    justify-content: space-between;
    font-weight: 600;
    padding: 24px 40px;
    // margin-bottom: 24px;
    &-info {
      font-size: 24px;
      color: #bea468;
      font-weight: 600;
    }
  }
  .content {
    padding: 24px 40px;
    text-align: center;
    &-btn {
      background: #bea368;
      border: 2px solid #bea368;
      border-radius: 22px;
      line-height: 86px;
      color: #fff;
      font-size: 36px;
      margin-bottom: 20px;
    }
    .cancel-btn {
      background: transparent;
      color: #bea368;
    }
    &-explain {
      font-size: 22px;
      color: #bea368;
      text-align: center;
    }
    &-circle {
      width: 100px;
      height: 100px;
      margin: 60px auto;
    }
    &-logo {
      width: 500px;
    }
  }
}

.golden {
  color: #c7b07c;
}
