.mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 101;
  animation: into 0.25s ease-in-out;
}
@keyframes into {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}