.order-list {
  .order {
    &-title {
      color: #fff;
      line-height: 80px;
      padding: 0 40px;
      background: #bea368;
      // font-weight: 600;
    }
    &-desc {
      padding: 0 40px;
      line-height: 88px;
      font-weight: 600;
    }
    &-item {
      background: #fff;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      // &__title {

      // }
      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        padding: 0 40px;
        border-bottom: 2px solid $global-line-gray;
        font-size: 24px;
        &-name {
          // flex: 0 0 120px;
        }
        &-status {
          text-align: right;
          // text-overflow: ellipsis;
          // overflow: hidden;
          // white-space: nowrap;
        }
      }
      &__content {
        flex: 1;
      }
      &__total {
        border-top: 2px solid $global-line-gray;
        display: flex;
        padding: 0 40px;
        height: 75px;
        align-items: center;
        justify-content: flex-end;
        font-size: 24px;
        &-item {
          margin-left: 20px;
        }
      }
      &__footer {
        color: #c7b07c;
        text-align: right;
        padding: 0 40px;
        font-size: 24px;
      }
    }
  }
}
.golden {
  color: #c7b07c;
}
