.default {
  &-container {
    text-align: center;
  }
  &-icon {
    width: 420px;
    // margin-top: 120px;
    height: 210px;
  }
  &-text {
    color: $global-text-gray;
    font-size: 24px;
    margin: 12px;
  }
}